.centerBox
  %br
  %h2{style: "text-align:center;"}
    About
  #about
    Hello.
    %br
    %br
    It seems as if you've somehow stumbled upon this pointless website.
    %br
    %br
    It is with great pride that I say it was made with my own hands.
    %br
    %br
    The goal of this website is to click a button.
    %br
    %br
    There's a leaderboard that tracks your clicks.
    %br
    %br
    I don't even know why I store your emails. Heck, there might be a secret prize for you if you hit a certain number of clicks.
    %br
    %br
    But I can neither confirm nor deny this.
    %br
    %br
    I won't try and convince you to stay, seeing as you probably have a countless number of things better to do than wait for a simple timer to tick to 0, signaling to you that it is okay to click the button.
    %br
    %br
    But hey, if that's the sort of thing that really gets you riled up, then by all means, stay here for a while. Click away. I'm sure not going anywhere.
    %br
    %br
    Then again, the only people that I would expect to continuously visit this website just to click a button all fall underneath the types of people I would most likely find myself filing restraining orders against, so I'm not so sure about this.
    %br
    %br
    Please don't kill me.
    %br
    %br
    Sincerely,
    %br
    Michael
    %br
    %br
    %br