.centerBox
  %br
  %h2{style: "text-align:center;"}
    FAQ
  #about{style: "line-height:150%;"}
    %strong Why did you make this?
    %br
    I don't know :(
    %br
    %br
    %strong Why can you only see what this website is about if you sign up and log in
    %br
    I have a change in the works to fix this issue. Should be released around version 435.4
    %br
    %br
    %strong You never gave me any instructions and my timer is now at 500 days!
    %br
    Hey, that's 500 days away from sweet, sweet victory!
    %br
    %br
    %strong Why is the punishment for clicking out of turn so severe?
    %br
    I don't know, I would ask whoever designed this crappy game.
    %br
    %br
    %strong This website sucks!
    %br
    Yeah!!!
    %br
    %br