.centerBox
  %br
  %h2{style: "text-align:center;"}
    FAQ
  #about{style: "line-height:150%;"}
    %strong Why did you make this?
    %br
    I don't know :( Someone stop me
    %br
    %br
    %strong Why is there no information on the homepage of what this website is about?
    %br
    That change is reserved for release number 436.3
    %br
    %br
    %strong You never gave me instructions and my timer is now at 500 days!
    %br
    Hey, that's 500 days away from sweet, sweet victory!
    %br
    %br
    %strong Why is the punishment for clicking out of turn so high?
    %br
    I don't know, I would ask whoever designed this crappy game.
    %br
    %br
    %strong This website sucks!
    %br
    Yeah!!!
    %br
    %br