.centerBox
  %br
  %h2{style: "text-align: center;"}
    Version Changelog
  #about{style: "line-height:140%;"}
    %strong 08/07/2013 v1.0
    %ul
      %li Monstrosity released to the public
      %li 1 day penalty for misclicking
      %li Time between clicks is randomly chosen between 1-7 days
    %br
    %strong 08/07/2013 v1.1
    %ul
      %li Oh god I didn't know there were so many bugs HELP
      %li Allowed usernames to contain both letters and numbers
      %li Added note to signup page
      %li Created FAQ and Version pages
    %br
    %strong 08/07/2013 v1.2
    %ul
      %li Added column for hours until next click
      %li Fixed up CSS on sign up page which caused overflow error