@import "bootstrap";

.btn-large{
  padding: 18px 28px;
  font-size: 30px;
  line-height: normal;
  border-radius: 8px;
}

*{
  margin:0;
  padding:0;
}

html, body{
  padding-top:10px;
  height:100%;
}

.left{
  float:left;
  width:25%;
}

.right{
  margin-left:45%;
  width:25%;
}

.form{
  margin-left:5%;
  overflow:hidden;
}

.centerBox{
  margin-top:20px;
}

.tableDiv{
  width:70%;
  margin-left:15%;
  margin-right:15%;
  margin-top:10px;
}

.td{
  border-top:1px solid LightGray;
}

#jcountdown{
  position:fixed;
  width:700px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-365px;
  margin-top:-200px;
}

.middleUpperDiv{
  position:fixed;
  border-radius:15px;
  width:501px;
  height:30px;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-100px;
}

.middleDiv{
  width:500px;
  height:200px;
  border:1px solid LightGray;
  border-radius:5px;
  position:fixed;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-100px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#wrap {
  min-height:100%;  
}

#main{
  overflow:auto;
  padding-bottom:40px;
}

#footer{
  position:relative;
  margin-top:-40px;
  height:40px;
  clear:both;
}

#about{
  width:60%;
  text-align:left;
  margin-left:20%;
  margin-right:20%;
  font-size:22px;
}

footer {
  margin-left:15%;
  margin-right:15%;
  padding-top:5px;
  border-top:1px solid #C0C0C0;
  color:#999;
  width:70%;
}

.showLeftDiv{
  width:12%;
  padding-top:30px;
  margin-left:8%;
  float:left;
  overflow:hidden;
}

.showRightDiv{
  float:right;
  width:65%;
  margin-right:15%;
}