@import "bootstrap";

.btn-large{
  padding: 18px 28px;
  font-size: 30px;
  line-height: normal;
  border-radius: 8px;
}

*{
  margin:0;
  padding:0;
}

html, body{
  padding-top:10px;
  height:100%;
}

.left{
  float:left;
  width:25%;
}

.right{
  margin-left:45%;
  width:25%;
}

.form{
  margin-left:5%;
  overflow:hidden;
}

.centerBox{
  margin-top:20px;
}

.tableDiv{
  width:70%;
  margin-left:15%;
  margin-right:15%;
  margin-top:10px;
}

.td{
  border-top:1px solid LightGray;
}

#jcountdown{
  position:fixed;
  width:700px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-365px;
  margin-top:-200px;
}

.middleUpperDiv{
  position:fixed;
  border-radius:15px;
  width:501px;
  height:30px;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-100px;
}

.achievement{
  border:1px solid White;
  border-radius:5px;
  background-color: #E0E0E0
}

.middleDiv{
  width:500px;
  height:200px;
  border:1px solid LightGray;
  border-radius:5px;
  position:fixed;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-100px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#wrap {
  min-height:100%;  
}

#main{
  overflow:auto;
  padding-bottom:40px;
}

#footer{
  position:relative;
  margin-top:-40px;
  height:40px;
  clear:both;
}

#about{
  width:60%;
  text-align:left;
  margin-left:20%;
  margin-right:20%;
  font-size:22px;
}

footer {
  margin-left:15%;
  margin-right:15%;
  padding-top:5px;
  border-top:1px solid #C0C0C0;
  color:#999;
  width:70%;
}

.showLeftDiv{
  width:30%;
  padding-top:30px;
  margin-left:5%;
  float:left;
  overflow:hidden;
}

.showRightDiv{
  float:right;
  width:60%;
  margin-right:5%;
}

.digg_pagination {
  background: white;
  cursor: default;
  margin-left:115px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }