.navbar
  .navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Pointless Button Clicking Game", root_path, id: "logo"
        %nav
          %ul.pull-left
            %li= link_to "Players"